
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */
  background-color: #91AEC1 !important;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

#table-wrapper {
  position: relative;
}

#table-scroll {
  height: 200px;
  overflow: scroll;
  margin-top: 0px;
}

#table-scroll-2 {
  height: 300px;
  overflow: scroll;
  margin-top: 0px;
}

#table-scroll-3 {
  height: 150px;
  overflow: scroll;
  margin-top: 0px;
}

#table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

#table-wrapper table th,
#table-wrapper table td {
  padding: 0px 12px;
  border: 1px solid #46464642;
}

#table-wrapper table thead th {
  position: sticky;
  top: 0;
  background: #f1f1f1;
  z-index: 1;
}

/* .table-body {
  @apply scrollbar-thin scrollbar-webkit;
} */
/* #table-wrapper {
  position: relative;
}

#table-scroll {
  height: 150px;
  overflow: auto;
  margin-top: 20px;
}

#table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

#table-wrapper table th, #table-wrapper table td {
  padding: 8px 12px;
  border: 1px solid #ccc;
}

#table-wrapper table thead th {
  position: sticky;
  top: 0;
  background:#F5CB5C; /* Color de fondo para el encabezado */
/*z-index: 1;
} 
*/
/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */